<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reminder</title>
</head>
<body>
<main>
    <div> 
        <h1>{{ todo_list_details.name }}</h1>
        <h2>Tasks</h2>
        <table>
            <thead>
                    <th>Task</th>
                    <th>Due Date</th>
            </thead>
            <tbody>
                {% for todo_list in todo_lists_details %}
                <tr>
                        <td>{{ todo_list.name }}</td>
                        <td>{{ todo_list.items.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>