<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
<main>
    <div>
        <h1>My Lists</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of Items</th>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}
                    <tr>           
                    <td><a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                    <td>{{ todo_list.items.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>
</body>
</html>